<div class="game_wrapper">
    <div class="scene_container"></div>
</div>

<div class="testimonies">
    <h2>The journey</h2>
    <div class="testimony_steps"></div>

    <button class="testimonies_restart_btn">Start again</button>

    <div class="share_links">
        <a class="twitter_share">Twitter</a>
        <a class="facebook_share">Facebook</a>
    </div>
</div>
