<div class="gi_container">
    <div class="status">
        <p class="cost">Cost: <span class="cost_value"></span></p>
        <p class="days">Cost: <span class="days_value"></span></p>
    </div>

    <div class="scene_container">
        <div class="scene_content"></div>
        <div class="scene_text"></div>
    </div>

    <div class="control_wrapper">
        <p class="choice_text"></p>
        <div class="button_container"></div>
    </div>

</div>

<div class="testimonies">
    <h2>The journey</h2>
    <div class="testimony_steps"></div>
</div>

<div class="debug_output"></div>