<div class="scene">
    <h2 class="scene-title">{{ title }}</h2>
    <div class="scene-inner">

        <div class="scene-copy">
            {{#insertImg}}
                <img src="{{ insertImg }}" class="insert-image" />
            {{/insertImg}}
            {{{ sceneContent }}}
        </div>

        <div class="choices">
            <p class="choice-text">{{ choiceText }}</p>
            <div class="button-container">
                {{#buttons}}
                    <button class="choice-btn" data-destination="{{ destination }}">
                        {{ text }}
                    </button>
                {{/buttons}}
            </div>
        </div>
    </div>
</div>