<div class="scene">
    <h2 class="scene-title">{{ title }}</h2>
    <div class="scene-inner">

        <div class="scene-copy">{{{ sceneContent }}}</div>

        <div class="choices">
            <p class="choice-text">{{ choiceText }}</p>
            <div class="button-container"></div>
        </div>
    </div>
</div>