<h2>Passport copy</h2>
<p>Some more text here</p>
<p>
    <img width="200" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Indonesian_passport_data_page.jpg/800px-Indonesian_passport_data_page.jpg" alt="passport" />
</p>