@import '_base';

figure {
    margin: 0;
}

.game_wrapper {
    color: #565656;
    font-size: 14px;
    line-height: 16px;
    position: relative;

    .scene_container {
        position: relative;

        // Flexible video ratio
        // http://alistapart.com/article/creating-intrinsic-ratios-for-video/
        .video_wrapper {
            position: relative;
            padding-top: 25px;
            padding-bottom: 56.25%;
            height: 0;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .photocredit {
            margin: 0;
            color: rgba(255, 255, 255, 0.9);
            font-family: verdana, arial, sans-serif;
            font-size: 9px;
            text-align: right;
            padding: 0px 6px;
        }
    }

    .scene {
        background-image: url(http://placehold.it/940x530);
        background-repeat: no-repeat;
        background-size: contain;
        padding: 42% 10px 0 10px;
        font-family: Georgia, serif;

        &.disabled {
            opacity:0.5;
        }
    }

    .end .scene-inner {
        background-color: #333;
        color: #EEE;
    }



    .insert-image {
        float: right;
        margin: 0 0 5px 5px;
        max-width: 150px;
    }

    .scene-title {
        background: rgba(0, 0, 0, 0.4);
        color: rgb(255,255,255);
        padding: 10px;
        margin: 0;
        font-size:12px;
        font-weight: normal;
        font-family: Arial, sans-serif;
    }

    .scene-inner {
        background: #f8f7f5;
        padding: 30px;
        overflow: hidden;
    }

    .scene-copy {
        margin: 0;
        margin-top: 10px;
    }

    .scene-copy p{
        color:#565656;
        font-size:16px;
        line-height:1.5em;
    }

    .choices {
        border-top: 1px dotted #999999;
        padding-top: 10px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }

    .choice-text {
        font-size:16px;
        font-family:Arial, sans-serif;
        line-height:1.5em;
        color:#565656;
    }
    .button-container{
        width:90%;
        margin:30px auto 0;
        text-align:center;
    }

    .choice-btn {
        font-family: Arial, sans-serif;
        border: 1px solid #CDCBC3;
        background-color: #F1F1E8;
        border-radius:3px;
        color: rgba(51,51,51,0.6);
        cursor: pointer;
        font-size: 16px;
        padding: 8px 20px;

        &.disabled {
            color: #d5d5d5;
            background-color: #eaeaea;
            border:none;
            cursor: default;
            &.picked {
                color: #444;
                opacity:0.5;
                background-color: #b2b195;
            }
        }
    }

    button:hover {
        background: #b2b195;
        border-color:#b2b195;
    }

    .outcomes {
        background: #222;
        font-size: 11px;
        color: #CCC;
        line-height: 1em;
    }

    .cost,
    .days {
        font-size: 10px;
        position: absolute;
        margin: 0;
        padding: 0;
    }

    .cost {
        top: 5px;
        right: 10px;
    }

    .days {
        top: 5px;
        left: 10px;
    }

    .updated {
        font-weight: bold;
        color: #FF0;
    }
}

@media (min-width: 480px) {
    .game_wrapper {


        .scene {
            padding: 48% 40px 0 40px;
            font-family: Georgia, serif;

            &.disabled {
               opacity:0.5;
            }
        }
    }
}
