@import '_base';

.gi_container {
    font-family: monospace;
    background: #000;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    position: relative;

    .scene_container {
        padding: 10px;
        min-height: 400px;

        video {
            width: 100%;
        }
    }


    .scene_text {
        padding: 20px;
        background-color: #873;
        margin: 0;
        margin-top: 10px;
    }

    button {
        font-family: monospace;
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        padding: 6px 20px;
    }

    button:hover {
        background: #fff;
        color: #000;
    }

    .outcomes {
        background: #222;
        font-size: 11px;
        color: #CCC;
        line-height: 1em;
    }

    .cost,
    .days {
        font-size: 10px;
        position: absolute;
        margin: 0;
        padding: 0;
    }

    .cost {
        top: 5px;
        right: 10px;
    }

    .days {
        top: 5px;
        left: 10px;
    }

    .updated {
        font-weight: bold;
        color: #FF0;
    }
}
