<p>A seemingly endless, but costly, succession of buses takes the three of you up through the Balkans, and into Hungary. Once you are within the Schengen area, you realise that you can at least relax about crossing borders. At Vienna, you change buses again, for Prague, then to Berlin and on to Copenhagen. Many times you consider stopping and asking for asylum, but your experiences and those of your compatriots convince you to keep pushing on.</p>