<p>You find out that in September 2013, <a href="http://www.bbc.co.uk/news/world-europe-24635791">Sweden announced that it would give permanent residence to all Syrian refugees</a>. Two of your cousins have been given asylum in Stockholm and they tell you life in Sweden is better than a refugee camp. But there is a catch. In order to apply for asylum in Sweden you need to get there - you can’t apply from outside the country. This rule goes for the whole of Europe.</p>

<p>How do you get there? The safest and easiest way is to travel by plane. The alternative is to make your way overland to Turkey and then on from one of the large refugee camps there. You have heard that <a href="http://www.unhcr.org/523076919.html">the most vulnerable refugees are being airlifted from such camps directly into northern European countries</a>.</p>