<p>Bad news. You can’t fly to Sweden because you don’t have a visa. As the war has worsened, European countries have increased visa restrictions for Syrians.</p>			

<p>There are now almost no legal ways for Syrians to reach Europe, even though some countries are giving refugee status to nearly all Syrians who do make it there.</p>			

<p>You have only one choice now. You have to travel overland if you want to leave Syria.</p>