<p>There is bad news. You can’t fly to Sweden because you don’t have a visa and no new visas are being granted to anyone in Syria. (CHECK) A small number of family reunification visas are being granted to close family members such as children and spouses but this doesn’t apply to you. Last year in Europe only X family reunification visas were issued. (CHECK) Even if your husband was in Sweden or the UK you would not be guaranteed a visa to join him.</p>			

<p>If you want to leave Syria you have to travel overland and if you hope to reach a northern European country you will have to do so illegally. There are now almost no legal routes to reach countries like Italy, Sweden or the UK, even though it is legal to claim asylum once you arrive.</p>			

<p>It is not just Syrians who face this catch-22 situation. The number of visas needed for people leaving conflict-ridden countries has massively increased over the past decade.</p>			<p>XXX AUDIO INSERT - (MOHAMED – case study, have audio – he had a visa from previous travels – flew into UK with his family)			Mohamed travelled directly to the UK with his family using a visa he received before war broke out. When he reached Heathrow airport he claimed asylum at the immigration desk.</p>