<p>You do your research and find out Sweden announced in September 2013 that it would give permanent residence to all Syrian refugees.</p>

<p>Sweden has received about 14,700 asylum applications from Syrians since early 2012. Among them are members of your family who you speak to regularly on the phone. They tell you that they are being given support in building a new life there and that they would help if you came, wiring money along the way to make your savings go further.</p>

<p>Unfortunately there is a catch. In order to apply for asylum in Sweden you need to actually get there first. This is true of most northern European countries.</p>

<p>For example, The UK and France have high recognition rates for Syrians who apply for asylum within their borders but they don\'t take applications at their foreign embassies.</p>

<p>There is a relatively small resettlement programme in place, which moves refugees directly from camps to European countries but you would first have to be in a refugee camp to find out if you were eligible for this.		( XXX Put stat in about asylum applications from Syrians across whole of Europe. )</p>