<p>You do your research and find out that in September, Sweden announced that it would give permanent residence to all Syrian refugees.</p>

<p>Since early 2012, Sweden has received about 14,700 asylum applications from Syrians. Among them are member of your family, who you speak to regularly on the phone.They tell you that they are being  given support in building a new life in Sweden and that they would help you if you came.</p>

<p>They will wire you money along the way, to help make your savings go further.Unfortunately there is a catch. In order to apply for asylum in Sweden you need to actually get there first. This is true of most northern European countries.</p>

<p>The UK and France for example have a high recognition rate for Syrians who apply for asylum within their borders, but asylum applications are not taken at foreign embassies.</p>

<p>There is a relatively small resettlement programme in place, moving refugees directly from camps to European countries but you would have to be in a refugee camp to find out whether you could apply to be part of this.		( XXX Put stat in about asylum applications from Syrians across whole of Europe. )</p>