<p>You are convinced you have to do whatever it takes to get your children into Europe. You will attempt the crossing to Bulgaria again. Again, when you reach the border you are picked up by guards but this time, they drive you into Bulgaria, bound for one of several camps that have been set up to house Syrian refugees. You are taken to Harmanli camp. It is an open air detention centre and you are not allowed to leave. You are unable to move further into Europe or turn back and return to Turkey. The conditions are terrible. There is next to no official presence, no reception process and very little food.</p>

<p>Many thousands of migrants, not only Syrians, but Afghans, Bangladeshis and even some Africans have started to take what was previously a barely used route into the EU, from Turkey and into Bulgaria. Amnesty International estimate that 5,000 refugees from Syria arrived between January and November 2013.</p>

<p>At Harmanli, the Guardian found a lack of official support for newly arrived refugees, many of them women and children, and dire conditions.</p>

<h2>A Harmanli story</h2>
<div class="video_wrapper">
    <video id="video" controls="" preload="none" poster="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/1/9/1389285687289/vlcsnap-2013-12-20-16h54m27s251.png">
        <source id="mp4" src="http://cdn.theguardian.tv/interactive/mp4/768/2013/12/20/BulgariaCampConditions_h264i.mp4" type="video/mp4">
        <source id="webm" src="http://cdn.theguardian.tv/interactive/WebM/768/2013/12/20/BulgariaCampConditions.webm" type="video/webm">
        <source id="ogv" src="http://cdn.theguardian.tv/interactive/oggv/768/2013/12/20/BulgariaCampConditions_h264i.ogv" type="video/ogg">
        <p>Your user agent does not support the HTML5 Video element.</p>
</video>
</div>

<p>There is no way forward or back for you. The UNHCR is pushing for improved conditions in Bulgaria and the government has promised to provide more support but for now, you are stuck.</p>