<p>You pay a smuggler and join group of people they lead through dense forests along the border of Turkey and Bulgaria.
</p> 

<p>In the thick of the woodland, you are stopped by Bulgarian border guards who pile your group into a van. The children are terrified and crying. The Bulgarian guards drive you back to Turkey. You aren’t sure if you reached Bulgarian territory or not, but you know you didn’t make it. Some of the families you travelled with were split up on the journey and have no idea how to find each other again.</p>

<p>These ‘push backs’ are illegal, but nonetheless, reports of Syrians being turned away at the Bulgarian border, or driven straight back to Turkey, with no access to a fair asylum procedure, are common.</p>
