<p>However dangerous the journey across the Greek border might be, it has to better than sitting in a camp indefinitely. If you make it to northern Europe, you reason, you have the chance of international protection and with it the right to work and lead a relatively normal life until it’s safe to return to Syria. You leave the camp with your children and head to Istanbul, where friends in the Syrian community put you in touch with a people smuggler. He promises - for a price  - to help you cross the Greek border.</p>

<p>It was a promise he was unable to keep. Your group is stopped by border guards on crossing into Greece. They treat you roughly, some people are beaten. They take you back into Turkey without giving you the chance to plead for asylum in Greece.</p> 

<p>A recent report detailed evidence of an <a href="http://ecre.org/component/content/article/70-weekly-bulletin-articles/486-pro-asyl-accuses-greece-of-systematically-pushing-back-refugees-at-the-greek-turkish-border.html">illegal ‘push back’ policy</a> on both the land and sea border between Turkey and Greece.</p>

<h2>Illegal pushback</h2>
<video id="video" controls="" preload="none" poster="vlcsnap-2013-12-20-16h54m27s251.png">
    <source id="mp4" src="http://cdn.theguardian.tv/interactive/mp4/768/2013/12/20/GreeceBorderPushback_h264i.mp4" type="video/mp4">
    <source id="webm" src="http://cdn.theguardian.tv/interactive/WebM/768/2013/12/20/GreeceBorderPushback.webm" type="video/webm">
    <source id="ogv" src="http://cdn.theguardian.tv/interactive/oggv/768/2013/12/20/GreeceBorderPushback_h264i.ogv" type="video/ogg">
    <p>Your user agent does not support the HTML5 Video element.</p>
</video>

<p>Your funds depleted, you make your way back to Istanbul.</p>