
<p>You join a queue of hundreds of others waiting outside the Aliens Police Directorate in Athens to register as an asylum seeker. Unfortunately the Greek asylum system has been in a state of chaos for several years and your claim for asylum, like the majority of others, is refused. The number of Syrians being given protection in Greece is almost zero. In 2012 no Syrians were given asylum (how many entrants? What are 2013 figures). Even for those who manage to make a claim, there is little support. The Greek government has been criticised for failing to provide adequate reception and support for vulnerable migrants and for the ’deplorable’ conditions faced by Syrians in particular. (link to Amnesty report).(INSERT VIDEO HERE - situation in Greece)You now have several choices.</p>