<p>
    This time, after paying the smugglers again, you are one of the gradually reducing number who do make it over the Evros border and into Greece. (do we have a story to illustrate this???) After crossing the border you travel to Athens (how?). Friends in the Syrian community in Istanbul have given you the contact details of a church that helps refugee families so you head there. Now you are here you have two choices.
</p>