<p>Although you don’t have documents allowing you to travel legally within the EU, you follow a path many others have taken and try to travel by boat via the Adriatic to Italy. You know that once you get there you will be able to travel onward overland into northern Europe, staying within the Schengen zone, where there are no border checks. You go to the main Greek port, Patras and hide in the back of a lorry on one of the ferries to Bari, Italy.</p> 

<p>Unfortunately for you, there is a readmissions agreement between Italy and Greece that is meant to stop illegal immigration. Although it shouldn’t apply to people in need of international protection, the men who find you in the lorry are not interested in your story. You tell them you are from Syria, <a href="http://oppenheimer.mcgill.ca/Medici-per-i-Diritti-Umani">but they put you back on the next boat to Patras</a>.</p> 

<p>You now have two choices.</p>