<p> Even though you don’t have documents allowing you to travel legally within the EU, you follow a path many others have taken and try to travel by boat via the Adriatic to Italy, from there you will be able to get a train onwards into Europe. You go to the main Greek port, Patras and arrive in Bari in Italy. Un (need to do a bit more research here on what happens on this journey).</p> 

<p>You now have two choices. 1 Stay in Patras and try again. (Go to scene 14) 2 You can’t face any more travelling so decide to stay in Athens for now. (Go to scene 10) </p> 

<p>Some European countries (which? France?) threatened Greece (in 2012?) with removal from the Schengen agreement if it didn't tighten its borders. Greece is under enormous pressure to stop migrants crossing its borders, as is Turkey. Illegal 'push backs' have been reported on this Adriatic route.</p>