<p>Even though you don’t have documents allowing you to travel legally within the EU, you follow a well-worn path and attempt to travel by boat across the Adriatic to Italy. You know once you get there you’ll be able to get on a train and head north into Europe. At the major Greek port, Patras, you manage to pile your children onto the back of a lorry travelling on a ferry to Bari, Italy, and hide.</p> 

<p>What you didnt’ know is that there is a readmissions agreement between Italy and Greece, designed to stop illegal immigration. It shouldn’t apply to people in need of international protection, but the men who find you in the lorry are not interested in your story. You tell them you are from Syria, <a href="http://oppenheimer.mcgill.ca/Medici-per-i-Diritti-Umani">but they put you back on the next boat to Patras</a>.</p> 

<p>You now have two choices.</p>