<p>Many asylum seekers try to leave Italy without being detected, to reach family or a country that offers more support to recognised refugees.</p>
<p>Even though all migrants detected at an international border should have their fingerprints stored on the Eurodac system, to stop them claiming asylum in more than one country, there have been reports that Italian border officials do not take fingerprints of all migrants, but release them to travel onwards into Europe. Also, it is easy to cross borders now that you are within the Schengen area.</p>
<p>You have enough money left to pay for buses that take you out of Italy, into Austria, then the Czech Republic, through Germany and Denmark before finally crossing the Baltic sea to  Sweden. Several times you consider stopping but your experiences, the hope held out by Sweden's generous offer and the knowledge you have family there keeps you going.</p><p>When you finally arrive in Stockholm you claim asylum and contact your family.</p>