<p>
    Many asylum seekers try to leave Italy without being detected. There have been widely reported problems for refugees there and there is often a lack of support. In 2011 the Guardian visited Rome, where hundreds of refugees, including children, were sleeping in the street. GO TO VIDEO INSERT> Africans/ Afghans</p> 

<p>Even though all migrants detected at an international border should have their fingerprints stored on the Eurodac system to stop them claiming asylum in more than one country, there have been reports (link?) that Italian border officials do not fingerprint all migrants and release them to travel onwards into Europe.</p> 

<p>You have enough money left to pay for trains that take you out of Italy, north towards Sweden, changing to a ferry at Rostock (give more details of routes). Although you pass through Germany, which has a high acceptance rate for Syrian asylum seekers, your family have promised you support and help if you can reach them. When you finally arrive in Stockholm you claim asylum.</p>