<p>You claim asylum at the port in Bari and are sent to Rome where you are given a temporary place to stay.</p>

<p>You are eventually given refugee status, but the Italian state’s asylum protection system (SPRAR) has a long waiting list. Without housing or any kind of benefits, you move into <a href="http://www.theguardian.com/world/2011/oct/07/dublin-regulation-european-asylum-seekers">one of the many squats which are home to thousands of people in your situation</a>.</p>

<p>Last month the Guardian visited one known as Salaam (“Peace”) Palace. Freezing, dirty and with patchy electricity, it was home to around 1,200 people, including dozens of children.</p>  

<p>Many refugees in Rome are worse off than this, sleeping rough in the city centre.</p>

<h2>Watch - Refugees on the streets of Rome</h2>
<div class="video_wrapper">
    <video id="video" controls="" preload="none" poster="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/1/13/1389607801514/RomeStreetsForInteractive_8539414.jpg">
        <source id="mp4" src="http://cdn.theguardian.tv/interactive/mp4/768/2014/01/10/RomeStreetsForInteractive_h264i.mp4" type="video/mp4">
        <source id="webm" src="http://cdn.theguardian.tv/interactive/WebM/768/2014/01/10/RomeStreetsForInteractive.webm" type="video/webm">
        <source id="ogv" src="http://cdn.theguardian.tv/interactive/oggv/768/2014/01/10/RomeStreetsForInteractive_h264i.ogv" type="video/ogg">
        <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
</div>



<p>You can’t leave Italy now though. Under the <a href="http://www.theguardian.com/world/2011/oct/07/dublin-regulation-european-asylum-seekers">‘Dublin’ system</a>, refugees can only seek asylum in the first EU country they enter. Wherever you go now, your fingerprints will trace you back to Italy and you can be sent straight back here.</p>  

<h2>Watch - The Dublin system in action</h2>
<div class="video_wrapper">
    <video id="video" controls="" preload="none" poster="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/1/13/1389607735072/DublinSystemForInteractive_8539469.jpg">
        <source id="mp4" src="http://cdn.theguardian.tv/interactive/mp4/768/2014/01/10/DublinSystemForInteractive_h264i.mp4" type="video/mp4">
        <source id="webm" src="http://cdn.theguardian.tv/interactive/WebM/768/2014/01/10/DublinSystemForInteractive.webm" type="video/webm">
        <source id="ogv" src="http://cdn.theguardian.tv/interactive/oggv/768/2014/01/10/DublinSystemForInteractive_h264i.ogv" type="video/ogg">
        <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
</div>
