<p>You are given a place to stay in a hostel for families, put in touch with Syrian support groups and given access to a basic benefit that will help you survive until your asylum claim is heard.</p> 

<p>There is now a Common EU Asylum System - it came into operation in summer 2014 - but nobody denies that the way refugees are treated varies wildly from country to country. In the UK, Sweden and Germany, asylum seekers are given housing while their claim is processed, and support once they are granted refugee status. This is not always the case in Greece, Italy or the eastern European countries like Bulgaria. Experts warn that as long as these differences exist, people will continue to make dangerous journeys overland to reach a country that promises safety and support.</p>