<p>When you find border officials in Bari you want to claim asylum. They give you a cash payment of 200 euros and train tickets to Rome where you claim asylum and are given a temporary place to stay.</p> 

<p>Eventually you are given refugee status, but there is no welfare support or housing, as there would have been in Sweden or the UK. You rely on church groups for food and Italian lessons.</p> 

<p>In 2011 the Guardian found hundreds of recognised refugees, including children, sleeping in the street in Rome.</p> 

<p>Unfortunately you can’t move on now. Under the <a href="http://www.theguardian.com/world/2011/oct/07/dublin-regulation-european-asylum-seekers">‘Dublin’ system, refugees can only seek asylum in the first EU country they enter</a>. You have been fingerprinted in Rome and your prints are available to border guards across Europe. </p>

<p>You have no option but to struggle on, try to learn Italian and rely on the support of the churches and other refugees.</p>