<p>The <a href="http://www.unhcr.org/51e7ecc56.html">UNHCR has called for 30,000 of the most vulnerable Syrian refugees to be resettled in western countries</a> via a screening process which is taking place in camps across the region. Unfortunately for you, the numbers being resettled are very low compared to the 2.3 million Syrian refugees who have now left the country. <a href="http://www.amnesty.org/en/news/fortress-europe-syrian-refugee-shame-exposed-2013-12-11">Eighteen EU countries, including the UK and Italy, have refused to take part</a>, drawing condemnation from leading refugee groups. Only the most vulnerable groups, including orphaned children or women at risk of violence, are being resettled and you are not given a place in the scheme.</p>