<p>The <a href="http://www.unhcr.org/51e7ecc56.html">UNHCR has called for 30,000 of the most vulnerable Syrian refugees to be resettled in western countries</a>. The 30,000 will be selected in a screening process taking place in camps across the region. The odds are slim - 98.5% of the Syrians who have fled the fighting will be left behind. <a href="http://www.amnesty.org/en/news/fortress-europe-syrian-refugee-shame-exposed-2013-12-11">Eighteen EU countries, including the UK and Italy, have refused to take part</a> - a move that has been condemned by refugee groups. Only the most vulnerable groups, including orphaned children or women at risk of violence are being resettled. You don’t qualify for the scheme. </p>