<p>Some end copy goes here!!!!!!!!!!!!!!!!!!!!</p>

<div class="share_links">
    <button class="share-twitter">TWITTER</button>
    <button class="share-facebook">Facebook</button>
</div>

<p>
    <button class="restart">Restart</button>
</p>