<p>Some end copy goes here!!!!!!!!!!!!!!!!!!!!</p>

<div class="share_links">
    <button class="share-twitter choice-btn">TWITTER</button>
    <button class="share-facebook choice-btn">Facebook</button>
</div>

<p>
    <button class="restart choice-btn">Restart</button>
</p>