<p>You walk across the Turkish border where you are met by UNHCR officials. They take you to a refugee camp and register you - you are now one of at least 600,000 registered Syrian refugees in Turkey. Turkey has an opt out from the Geneva Convention and does not grant asylum to people from outside the European Union. So although you are provided basic support in the camp, you’ll never have the right to work here legally (although many refugees work illegally). People in the camp are talking about making the dangerous journey overland into Europe, in the hope of getting international protection that would allow them to work and live a normal life.</p>